hidden = [".config"]
modules = ["web"]
run = "bash -lc \"python3 -m http.server $PORT\""

[nix]
channel = "stable-24_05"

[deployment]
publicDir = "/"
deploymentTarget = "static"
run = "bash -lc \"python3 -m http.server $PORT\""

[[ports]]
localPort = 8000
externalPort = 80
